<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
    <h4 class="fst-normal ms-2">기본 적립률 정책</h4>
    <form method="post" action="/admin/accumulation-policy">
      <br/>
      <div class="d-flex align-items-center">
        <div class="form-floating ms-2" style="width: 30%;">
          <input type="number" class="form-control" id="accumulationRate" placeholder="적립률" name="accumulationRate">
          <label for="accumulationRate">적립률</label>
        </div>
        <button type="submit" class="btn btn-outline-secondary ms-2">변경</button>
      </div>
    </form>
    <table class="table">
      <tr>
        <th>#</th>
        <th>적립률</th>
        <th>변경일자</th>
      </tr>
      <tr>
        <td th:text="${currentPolicy.accumulationRatePolicyId}"></td>
        <td th:text="${currentPolicy.accumulationRate}"></td>
      </tr>
    </table>
    <h4 class="fst-normal float-start ms-2 me-4 my-2">정책 변경 내역</h4>
    <table class="table">
      <tr>
        <th>#</th>
        <th>배송비</th>
        <th>변경일자</th>
      </tr>
      <tr th:each="accumulationRatePolicy : ${accumulationRatePolicies}">
        <td th:text="${accumulationRatePolicy.accumulationRatePolicyId}"></td>
        <td th:text="${accumulationRatePolicy.accumulationRate}"></td>
        <td th:text="${accumulationRatePolicy.createdAt}"></td>
      </tr>
    </table>
  </main>
</div>

</html>