<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<body>
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <h2 class="mt-4">도서 목록</h2>
      <div class="card mb-4">
        <div class="card-header">
          <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false"
               data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 512 512" data-fa-i2svg="">
            <path fill="currentColor"
                  d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path>
          </svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
        </div>
        <div class="card-body">
          <div
              class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
            <div class="datatable-top">
              <div class="datatable-search">
                <input class="datatable-input" placeholder="Search..." type="search"
                       title="Search within table" aria-controls="datatablesSimple">
              </div>
            </div>
            <div class="datatable-container">
              <table id="datatablesSimple" class="datatable-table">
                <thead>
                <tr>
                  <th data-sortable="true" style="width: 8.407871198568873%;">
                    <a href="#" class="datatable-sorter">도서 번호</a>
                  </th>
                  <th data-sortable="true" style="width: 30.05366726296959%;">
                    <a href="#" class="datatable-sorter">도서</a>
                  </th>
                  <th data-sortable="true" style="width: 19.499105545617173%;">
                    <a href="#" class="datatable-sorter">작가</a>
                  </th>
                  <th data-sortable="true" style="width: 15.11627906976744%;">
                    <a href="#" class="datatable-sorter">출판사</a>
                  </th>
                  <th data-sortable="true" style="width: 14.311270125223613%;">
                    <a href="#" class="datatable-sorter">판매 상태</a>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book: ${books?.content}" role="button">
                  <td th:text="${book?.bookId}"></td>
                  <td th:text="${book?.bookTitle}"></td>
                  <td>
                    <span th:each="author, iterStat : ${book.authorName}"><span
                        th:text="${author}"></span><span th:if="${!iterStat.last}">, </span></span>
                  </td>
                  <td th:text="${book?.publisherName}"></td>
                  <td th:text="${book?.statusName}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="datatable-bottom">
              <th:block th:with="pageSize=${books!=null ? books.size : 0}">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                    <li th:if="${books?.number>= 10}" class="page-item">
                      <a class="page-link"
                         th:href="@{'/admin/books?page=' + ${((books?.number/10)*10 - 1)} + '&size=' + ${pageSize}}"
                         aria-label="이전 10 페이지">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <th:block
                        th:with="startPage=${(books?.number / 10) * 10}, endPage=${(books?.totalPages == 0 ? 0 : (startPage + 9 < books?.totalPages ? startPage + 9 : books?.totalPages - 1))}">
                      <th:block th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}">
                        <li th:class="${pageNumber == books?.number ? 'page-item active' : 'page-item'}">
                          <a class="page-link"
                             th:href="@{'/admin/books?page=' + ${pageNumber} + '&size=' + ${pageSize}}">[[${pageNumber
                            + 1}]]</a>
                        </li>
                      </th:block>
                    </th:block>
                    <li th:if="${((books?.number/10)*10 + 10) < books?.totalPages}"
                        class="page-item">
                      <a class="page-link"
                         th:href="@{'/admin/books?page=' + ${((books?.number/10)*10 + 10)} + '&size=' + ${pageSize}}"
                         aria-label="Next 10 Pages">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </th:block>
              <div style="margin-bottom: 50px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="/js/tr_onClick.js"></script>
</div>
</body>