<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/book_form_layout}">
<body>
<th:block layout:fragment="css">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/book_form.css">
</th:block>
<th:block layout:fragment="script">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
          crossorigin="anonymous"></script>
</th:block>

<div layout:fragment="book_form" id="layoutSidenav_content">
  <form class="contact100-form validate-form">
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="도서 이름을 입력하세요">
      <label>
        <span class="label-input100">도서명</span>
        <input class="input100" type="text" name="name">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="isbn을 입력하세요">
      <label>
        <span class="label-input100">isbn</span>
        <input class="input100" type="text" name="isbn" placeholder="숫자 13자리">
      </label>
    </div>
    <div class="wrap-input100 input100-select bg1">
      <span class="label-input100">카테고리</span>
    </div>
    <div class="wrap-input100 input100-select bg1">
      <span class="label-input100">태그</span>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="정가를 입력하세요">
      <label>
        <span class="label-input100">정가</span>
        <input class="input100" type="text" name="regular_price">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="판매가를 입력하세요">
      <label>
        <span class="label-input100">판매가</span>
        <input class="input100" type="text" name="price">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="할인율을 입력하세요">
      <label>
        <span class="label-input100">할인율</span>
        <input class="input100" type="text" name="discount_ratio" value="0">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="재고를 입력하세요">
      <span class="label-input100">재고</span>
      <input class="input100" type="text" name="stock" value="0">
    </div>
    <div class="wrap-input100 bg1 rs1-wrap-input100">
      <span class="label-input100">포장 가능 여부</span>
      <div class="input100">
        <input type="radio" value="가능" name="wrapping" id="packageable">
        <label for="packageable">포장 가능</label>
        <input type="radio" value="불가" name="wrapping" id="non_packageable" checked>
        <label for="non_packageable">포장 불가</label>
      </div>
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate">
      <label>
        <span class="label-input100">목차</span>
        <textarea class="input100" name="book_index"></textarea>
      </label>
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate">
      <span class="label-input100">도서 설명</span>
    </div>

    <div class="wrap-input100 input100-select bg1">
      <span class="label-input100">Needed Services *</span>
      <div>
        <select class="js-select2 select2-hidden-accessible" name="service" tabindex="-1"
                aria-hidden="true">
          <option>Please chooses</option>
          <option>eCommerce Bussiness</option>
          <option>UI/UX Design</option>
          <option>Online Services</option>
        </select><span class="select2 select2-container select2-container--default" dir="ltr"
                       style="width: 171px;"><span class="selection"><span
          class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
          aria-expanded="false" tabindex="0" aria-labelledby="select2-service-5s-container"><span
          class="select2-selection__rendered" id="select2-service-5s-container"
          title="Please chooses">Please chooses</span><span class="select2-selection__arrow"
                                                            role="presentation"><b
          role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                             aria-hidden="true"></span></span>
        <div class="dropDownSelect2"></div>
      </div>
    </div>
    <div class="w-full dis-none js-show-service">
      <div class="wrap-contact100-form-radio">
        <span class="label-input100">What type of products do you sell?</span>
        <div class="contact100-form-radio m-t-15">
          <input class="input-radio100" id="radio1" type="radio" name="type-product"
                 value="physical" checked="checked">
          <label class="label-radio100" for="radio1">
            Phycical Products
          </label>
        </div>
        <div class="contact100-form-radio">
          <input class="input-radio100" id="radio2" type="radio" name="type-product"
                 value="digital">
          <label class="label-radio100" for="radio2">
            Digital Products
          </label>
        </div>
        <div class="contact100-form-radio">
          <input class="input-radio100" id="radio3" type="radio" name="type-product"
                 value="service">
          <label class="label-radio100" for="radio3">
            Services Consulting
          </label>
        </div>
      </div>
      <div class="wrap-contact100-form-range">
        <span class="label-input100">Budget *</span>
        <div class="contact100-form-range-value">
          $<span id="value-lower">1500</span> - $<span id="value-upper">3900</span>
          <input type="text" name="from-value">
          <input type="text" name="to-value">
        </div>
        <div class="contact100-form-range-bar">
          <div id="filter-bar" class="noUi-target noUi-ltr noUi-horizontal">
            <div class="noUi-base">
              <div class="noUi-origin" style="left: 0%;">
                <div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0"
                     role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                     aria-valuemax="40.0" aria-valuenow="0.0" aria-valuetext="1500.00"
                     style="z-index: 5;"></div>
              </div>
              <div class="noUi-connect" style="left: 0%; right: 60%;"></div>
              <div class="noUi-origin" style="left: 40%;">
                <div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0"
                     role="slider" aria-orientation="horizontal" aria-valuemin="0.0"
                     aria-valuemax="100.0" aria-valuenow="40.0" aria-valuetext="3900.00"
                     style="z-index: 6;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-input100 validate-input bg0 rs1-alert-validate"
         data-validate="Please Type Your Message">
      <span class="label-input100">Message</span>
      <textarea class="input100" name="message" placeholder="Your message here..."></textarea>
    </div>
    <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
<span>
Submit
<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
</span>
      </button>
    </div>
  </form>
</div>
</body>