<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<body>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/book_form.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</th:block>
<th:block layout:fragment="script">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
          crossorigin="anonymous"></script>
</th:block>

<div layout:fragment="content" id="layoutSidenav_content">

  <form class="contact100-form validate-form" method="post">
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="도서 이름을 입력하세요">
      <label>
        <span class="label-input100">도서명</span>
        <input class="input100" type="text" th:name="bookTitle" th:value="${book?.bookTitle}">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="isbn을 입력하세요">
      <label>
        <span class="label-input100">isbn</span>
        <input class="input100" type="text" th:name="isbn" th:value="${book?.isbn}"
               placeholder="숫자 13자리">
      </label>
    </div>
    <div class="wrap-input100 input100-select bg1">
      <span class="label-input100">카테고리</span>
      <div>
        <label for="parent_category"></label>
        <select id="parent_category">
          <option value="0">카테고리를 선택하세요</option>
          <option value="1">Option 2</option>
          <option value="2">Option 3</option>
          <option value="3">Option 4</option>
        </select>
        <label for="category"></label>
        <select id="category">
          <option value="1">Option 2</option>
          <option value="2">Option 3</option>
          <option value="3">Option 4</option>
        </select>
      </div>
    </div>
    <div class="wrap-input100 input100-select bg1">
      <span class="label-input100">태그</span>
      <div class="input100" id="tag-container">
        <select>
          <option value="1">tag1</option>
        </select>
      </div>
      <input id="create-tag-btn" type="button" value="태그 추가">
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="정가를 입력하세요">
      <label>
        <span class="label-input100">정가</span>
        <input class="input100" type="text" th:name="regularPrice" th:value="${book?.regularPrice}">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="판매가를 입력하세요">
      <label>
        <span class="label-input100">판매가</span>
        <input class="input100" type="text" th:name="price" th:value="${book?.price}">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="할인율을 입력하세요">
      <label>
        <span class="label-input100">할인율</span>
        <input class="input100" type="text" th:name="discountRatio"
               th:value="${book?.discountRatio}">
      </label>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="재고를 입력하세요">
      <span class="label-input100">재고</span>
      <input class="input100" type="text" th:name="stock" th:value="${book?.stock}">
    </div>
    <div class="wrap-input100 bg1 rs1-wrap-input100">
      <span class="label-input100">포장 가능 여부</span>
      <div class="input100">
        <input type="radio" value="가능" th:name="wrapping" id="packageable"
               th:checked="${book?.isPackagable}">
        <label for="packageable">포장 가능</label>
        <input type="radio" value="불가" th:name="wrapping" id="non_packageable"
               th:checked="${book?.isPackagable}?: true">
        <label for="non_packageable">포장 불가</label>
      </div>
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate">
      <label>
        <span class="label-input100">목차</span>
        <textarea class="input100" th:name="bookIndex" th:text="${book?.bookIndex}"></textarea>
      </label>
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate">
      <span class="label-input100">도서 설명</span>
      <div class="input100" id="editor">
      </div>
    </div>
    <div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <span th:text="${mode eq book} ? '등록' : '수정'"></span>
        </button>
      </div>
      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn">
          <span>취소</span>
        </button>
      </div>
    </div>
  </form>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/load_editor.js"></script>
</div>
</body>