<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<body>
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/book_form.css">
  <link rel="stylesheet" href="/css/mobiscroll.javascript.min.css">
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"/>
</th:block>
<th:block layout:fragment="script">
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/mobiscroll.javascript.min.js"></script>
</th:block>

<div layout:fragment="content" id="layoutSidenav_content">
  <form class="contact100-form validate-form" method="post" action="/admin/book/create"
        enctype="multipart/form-data" id="bookForm">
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="도서 이름을 입력하세요">
      <label for="bookTitle" class="label-input100">도서명</label>
      <input id="bookTitle" class="input100" type="text" th:name="bookTitle">
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100"
         data-validate="isbn 13자리 숫자를 입력하세요">
      <label for="isbn" class="label-input100">isbn</label>
      <input id="isbn" class="input100" type="text" th:name="isbn" placeholder="숫자 13자리">
    </div>
    <div class="wrap-input100 input100-select bg1 validate-input"
         data-validate="10개 이하의 카테고리를 선택하세요">
      <span class="label-input100">카테고리</span>
      <label for="category-multiple-select-input">
        <input mbsc-input id="category-multiple-select-input" data-dropdown="true"
               data-input-style="outline" data-label-style="stacked"
               data-tags="true" placeholder="10개 이하의 카테고리를 선택하세요..."/></label>
      <select id="category-multiple-select" name="categories" multiple class="input100">
        <optgroup th:if="${categories}!=null" th:each="category: ${categories}"
                  th:label="${category.categoryName}">
          <option th:value="${category.categoryId}"
                  th:text="${category.categoryName}"
                  class="parent-category"></option>
          <option th:each="subCategory: ${category.parentCategories}"
                  th:value="${subCategory.categoryId}"
                  th:text="${subCategory.categoryName}"></option>
        </optgroup>
      </select>
    </div>
    <div class="demo-multiple-select wrap-input100 bg1">
      <span class="label-input100">태그</span>
      <label for="tag-multiple-select-input">
        <input mbsc-input id="tag-multiple-select-input" data-dropdown="true"
               data-input-style="outline" data-label-style="stacked"
               data-tags="true" placeholder="0개 이상의 태그를 선택하세요..."/></label>
      <select id="tag-multiple-select" name="tags" multiple>
        <option th:if="${tags}!=null" th:each="tag: ${tags}" th:value="${tag.tagId}" th:text="${tag.tagName}"></option>
      </select>
    </div>
    <div class="demo-multiple-select rs1-wrap-input100 wrap-input100 bg1 validate-input"
         data-validate="저자를 선택하세요">
      <span class="label-input100">저자</span>
      <label for="author-multiple-select-input">
        <input mbsc-input id="author-multiple-select-input" data-dropdown="true"
               data-input-style="outline" data-label-style="stacked"
               data-tags="true" placeholder="저자를 선택하세요..."/>
      </label>
      <select id="author-multiple-select" th:name="authorId" class="input100">
        <option th:if="${authors}!=null" th:each="author: ${authors}" th:value="${author.authorId}"
                th:text="${author.authorId} + ') ' + ${author.authorName}"></option>
      </select>
    </div>
    <div class="demo-multiple-select rs1-wrap-input100 wrap-input100 bg1 validate-input"
         data-validate="출판사를 선택하세요">
      <span class="label-input100">출판사</span>
      <label for="publisher-multiple-select-input">
        <input mbsc-input id="publisher-multiple-select-input" data-dropdown="true"
               data-input-style="outline" data-label-style="stacked"
               data-tags="true" placeholder="출판사를 선택하세요..."/>
      </label>
      <select id="publisher-multiple-select" th:name="publisherId" class="input100">
        <option th:if="${publishers}!=null" th:each="publisher: ${publishers}" th:value="${publisher.publisherId}"
                th:text="${publisher.publisherName}"></option>
      </select>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="정가를 입력하세요">
      <label for="regularPrice" class="label-input100">정가</label>
      <input id="regularPrice" class="input100" type="text" th:name="regularPrice">
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="판매가를 입력하세요">
      <label for="price" class="label-input100">판매가</label>
      <input id="price" class="input100" type="text" th:name="price">
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100"
         data-validate="할인율은 0% 이상이어야 합니다">
      <label for="discountRatio" class="label-input100">할인율(%)</label>
      <input class="input100" type="text" th:name="discountRatio" id="discountRatio">
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100"
         data-validate="재고는 0개 이상이어야 합니다">
      <label for="stock" class="label-input100">재고</label>
      <input id="stock" class="input100" type="text" th:name="stock">
    </div>
    <div class="wrap-input100 bg1 rs1-wrap-input100">
      <span class="label-input100">포장 가능 여부</span>
      <div class="input100">
        <input type="radio" value="true" th:name="isPackagable" id="packageable">
        <label for="packageable">포장 가능</label>
        <input type="radio" value="false" th:name="isPackagable" id="non_packageable" checked>
        <label for="non_packageable">포장 불가</label>
      </div>
    </div>
    <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="출판일을 선택하세요">
      <label for="publicatedAt" class="label-input100">출판일</label>
      <input id="publicatedAt" class="input100" type="date" th:name="publicatedAt" th:max="${now}">
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate validate-input" data-validate="목차를 입력하세요">
      <label for="bookIndex" class="label-input100">목차</label>
      <textarea id="bookIndex" class="input100" th:name="bookIndex"></textarea>
    </div>
    <div class="wrap-input100 bg0 rs1-alert-validate">
      <span class="label-input100">도서 설명</span>
      <div id="existing-content" style="display: none"></div>
      <input type="hidden" name="description" id="descriptionHidden">
      <input type="hidden" name="fileIdList" id="fileIdListHidden">
      <div class="input100" id="editor">
      </div>
    </div>
    <div class="wrap-input100 validate-input bg1" data-validate="썸네일을 삽입하세요">
      <label for="thumbnail" class="label-input100"></label>
      <input id="thumbnail" type="file" name="thumbnail">
    </div>
    <div class="container-contact100-form-btn">
      <button class="contact100-form-btn mb-4" type="submit">
        <span th:text="등록"></span>
      </button>
      <button class="contact100-form-btn mb-4" onclick="location.href='/admin/books'"
              type="button">
        <span>취소</span>
      </button>
    </div>
  </form>
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
  <script src="/js/bookform.js"></script>
</div>
</body>
</html>