<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin_layout}">
<th:block layout:fragment="css">
  <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" id="layoutSidenav_content" class="publisher-container">
  <section class="publisher-section">
    <header class="publisher-header">
      <div>출판사 관리</div>
      <button type="button" class="btn btn-secondary">추가</button>
    </header>
    <div class="publisher-main-container">
      <table>
        <tr class="table-header">
          <th>출판사 아이디</th>
          <th>출판사 이름</th>
          <th>수정하기</th>
        </tr>
        <tr>
          <td>1</td>
          <td>재훈 문고</td>
          <td>
            <button type="button" class="btn btn-outline-secondary">수정</button>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <link rel="stylesheet" href="/css/publisher.css">
</div>