<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}" lang="ko">

<th:block layout:fragment="css">
  <link href="/css/search.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">

</th:block>


<div layout:fragment="content" class="container">
  <nav class="search-title-container">
    <span class="search-title-keyword" th:text="'\''+${text}+'\''"></span>
    <span class="search-title-sub-content" th:text="'에 대한 '+ ${#numbers.formatInteger(count, 1, 'COMMA')} +'개의 검색 결과'"></span>
  </nav>
  <nav class="search-sub-title-container">
    <div class="search-sub-title">연관 검색어</div>
    <ul class="search-sub-title-list">
      <li class="search-sub-title-item">
        <a href="">css</a>
      </li>
      <li class="search-sub-title-item">
        <a href="">html</a>
      </li>
      <li class="search-sub-title-item">
        <a href="">자바</a>
      </li>
      <li class="search-sub-title-item">
        <a href="">자바스크립트</a>
      </li>
    </ul>
  </nav>
  <section class="search-book-container">
    <!--  정렬이랑 상품 개수    -->
    <div class="search-book-main">
      <div class="search-book-count">전체 <span th:text="${#numbers.formatInteger(count, 1, 'COMMA')}"></span> 건</div>
      <div class="search-book-option-container">
        <ul class="search-book-order-list">
          <li class="search-book-order-item">정확도순</li>
          <li class="search-book-order-item">인기도순</li>
          <li class="search-book-order-item">신상품순</li>
          <li class="search-book-order-item">최저가순</li>
          <li class="search-book-order-item">최고가순</li>
          <li class="search-book-order-item">평점순</li>
          <li class="search-book-order-item">리뷰순</li>
        </ul>
        <div class="search-book-selects-container">
          <div class="search-book-select-container">
            <select class="search-book-select" name="" id="book-state">
              <option value="include">품절포함</option>
              <option value="exclude">품절제외</option>
            </select>
          </div>
          <div class="search-book-select-container">
            <select class="search-book-select" name="" id="quantity-select">
              <option value="10">10개씩 보기</option>
              <option value="20">20개씩 보기</option>
              <option value="50">50개씩 보기</option>
            </select>
          </div>
          <div class="search-book-type-container">
            <div class="search-book-type">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div class="search-book-type">
              <i class="bi bi-grid-fill"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 상품 -->
    <div class="search-book-container">
      <div class="search-book-info-list">
        <div class="search-book-item" th:each="book : ${books}">
          <div class="search-book-image-container">
            <a th:href="@{/book(id=${book.getId()})}">
              <img class="search-book-image" th:src="${book.getFileUrl()}" alt="no image">
            </a>
          </div>
          <div class="search-book-info-container">
            <div class="search-book-info-title" th:attr="data-bookId=${book.getId()}">
              <a th:href="@{/book(id=${book.getId()})}" th:text="${book.getBookTitle()}">
              </a>
            </div>
            <div class="search-book-info-author-container">
              <div class="search-book-info-author">
                <a href="" th:each="author :${book.getAuthors()}" th:text="${author.getAuthorName()}"></a>
              </div>
              <div>저자</div>
            </div>
            <div class="search-book-info-publish-container">
              <div class="search-book-info-publisher">
                <a href="" th:text="${book.getPublisherName()}">
                </a>
              </div>
              <div class="search-book-info-publish-date" th:text="${#temporals.format(book.getPublicatedAt(), 'yyyy년 MM월 dd일')}">
              </div>
            </div>
            <div class="search-book-info-price-container">
              <span class="search-book-info-discount-rate" th:text="${book.getDiscountRatio()} + '%'"></span>
              <span class="search-book-info-discount-price" th:text="${book.getPrice()} + '원'"></span>
              <span class="search-book-info-original-price" th:text="${book.getRegularPrice()} + '원'"></span>
            </div>
            <div class="search-book-info-review-container">
              <div class="search-book-info-review">평점</div>
              <div class="search-book-info-review-star">
                <span th:each="star: ${#numbers.sequence(1,5)}">
                 <i th:class="${book.getScore() != null && book.getScore() >= star ? 'fa-solid fa-star' : 'fa-regular fa-star'}"></i>
                  </span>
              </div>
              <div class="search-book-info-review-rate" th:text="${book.getScore()==null?0:book.getScore()}"></div>
              <div th:text="'('+${book.getReviewQuantity()==null?0:book.getReviewQuantity()}+'개의 리뷰)'"></div>
            </div>
            <ul class="search-book-info-tag-container">
              <li th:if="${tag.getTagName()!= null}" class="search-book-info-tag" th:each="tag:${book.getTags()}">
                <a href="" th:text="'#'+${tag.getTagName()}"></a>
              </li>
            </ul>
          </div>
          <div class="search-book-button-container">
            <div class="search-book-quantity-container">
              <div class="search-book-quantity-btn">-</div>
              <div class="search-book-quantity">1</div>
              <div class="search-book-quantity-btn">+</div>
            </div>
            <div class="search-book-cart" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              장바구니
            </div>
            <div class="search-book-buy" onclick="window.location.href='/orders';">
              바로 구매
            </div>
            <div class="search-book-wish">
              찜하기
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation" class="paging-container">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </section>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">장바구니</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body cart-body">
          <p>상품이 장바구니에 담겼습니다.</p>
          <p>장바구니로 이동하시겠습니까?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
          <button type="button" class="btn btn-primary" onclick="window.location.href='/cart';">확인</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/search.js"></script>
</div>

</html>