<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link href="/css/order.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
        rel="stylesheet">
  <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css"
      rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
          crossorigin="anonymous"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/address.js"></script>
  <script th:inline="javascript">
    let orderBooks = [[${orderBooks}]];
    let deliveryPolicy = [[${deliveryPolicy}]];
    let accumulationRatePolicy = [[${accumulationRatePolicy}]];
    let wrappingList = [[${wrappingList}]];
    let couponList = [[${couponList}]];
  </script>
  <script src="/js/order.js"></script>
</th:block>

<div layout:fragment="content" class="container">
  <main>
    <h4 class="fw-normal ms-2 mb-5">주문 / 결제</h4>
    <form action="/orders" method="post" id="order_form">
      <div class="row">
        <div class="col-md-9 mb-4">
          <input type="hidden" id="payAmount" name="bookOrder.payAmount" value="">
          <input type="hidden" id="deliveryPrice" name="bookOrder.deliveryPrice" value="">
          <input type="hidden" id="orderName" name="bookOrder.orderName">
          <input type="hidden" id="point" name="bookOrder.usePoint" value="0">
          <input type="hidden" id="memberId" name="bookOrder.memberId" th:value="${memberId}">
          <div class="container border rounded-3 mb-4">
            <table class="table table-borderless text-center align-middle" id="book_table">
              <thead>
              <tr>
                <th scope="col" style="width: 20%">이미지</th>
                <th scope="col" style="width: 30%">제목</th>
                <th scope="col">가격</th>
                <th scope="col">수량</th>
                <th scope="col">총 액</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="book, stat : ${orderBooks}" class="border-top">
                <input type="hidden" th:name="|bookOrderList[${stat.index}].bookId|"
                       th:value="${book.bookId}">
                <input type="hidden" th:name="|bookOrderList[${stat.index}].price|"
                       th:value="${book.price}">
                <input type="hidden" th:name="|bookOrderList[${stat.index}].amount|"
                       th:value="${book.amount}">
                <input type="hidden" th:name="|bookOrderList[${stat.index}].couponId|"
                       th:id="|bookOrderList[${stat.index}].couponId|">
                <input type="hidden" th:name="|bookOrderList[${stat.index}].wrappingPrice|"
                       th:id="|bookOrderList[${stat.index}].wrappingPrice|"
                       th:value="0">
                <td style="width: auto"><img
                    th:src="${book.thumbnail}"
                    style="max-width: 100%; height: auto; padding: 10%" alt="책 이미지"></td>
                <td class="fw-bold" th:text="${book.bookTitle}"></td>
                <td>
                  <p class="fw-bold mb-2"
                     th:text="${#numbers.formatInteger(book.price, 1, 'COMMA')} + '원'"></p>
                  <p>
                    <del style="color: darkgray" class="fw-lighter"><span
                        th:text="${#numbers.formatInteger(book.regularPrice, 1, 'COMMA')}"></span>원
                    </del>
                  </p>
                </td>
                <td th:text="${book.amount} + '개'"></td>
                <td class="fw-bold"
                    th:text="${#numbers.formatInteger(book.price * book.amount, 1, 'COMMA')} + '원'"></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="p-3 border rounded-3 mb-4">
            <h4 class="fw-normal">수취인 정보</h4>
            <div class="mb-2 float-end">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                       id="addressRadio1" value="option1" checked>
                <label class="form-check-label" for="addressRadio1">새로 입력</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                       id="addressRadio2" value="option2">
                <label class="form-check-label" for="addressRadio2">주소록 선택</label>
              </div>
            </div>
            <input type="text" class="form-control mb-2" id="receiverName" name="bookOrder.receiverName"
                   placeholder="이름">
            <input type="tel" pattern="[0-9]{11}" maxlength="11" class="form-control mb-2"
                   id="receiverPhoneNumber"
                   name="bookOrder.receiverPhoneNumber" placeholder="전화번호">
            <div class="input-group mb-2">
              <input type="text" class="form-control" id="zipCode" name="bookOrder.zipCode" placeholder="우편번호"
                     readonly>
              <button class="btn btn-outline-success" type="button" onclick="execDaumPostcode()">
                우편번호 찾기
              </button>
            </div>
            <input type="text" class="form-control mb-2" id="address" name="bookOrder.address"
                   placeholder="도로명주소" readonly>
            <input type="text" class="form-control" id="detailAddress" name="bookOrder.detailAddress"
                   placeholder="상세주소">
          </div>
          <div class="p-3 border rounded-3 mb-4">
            <h4 class="fw-normal mb-5">발송인 정보</h4>
            <input type="text" class="form-control mb-2" id="senderName" name="bookOrder.senderName"
                   placeholder="이름">
            <input type="tel" pattern="[0-9]{11}" maxlength="11" class="form-control mb-2"
                   id="senderPhoneNumber"
                   name="bookOrder.senderPhoneNumber" placeholder="전화번호">
            <input type="email" class="form-control" id="senderEmail" name="bookOrder.senderEmail"
                   placeholder="이메일">
          </div>
          <div class="p-3 border rounded-3 mb-4">
            <h4 class="fw-normal mb-3">배송일 선택</h4>
            <input type="date" class="form-control w-50" id="delivery_date" name="bookOrder.deliveryDate">
          </div>
          <th:block sec:authorize="isAuthenticated()">
            <div class="p-3 border rounded-3 mb-4">
              <h4 class="fw-normal">쿠폰</h4>
              <table class="table table-borderless">
                <tr th:each="book, stat : ${orderBooks}" class="accordion accordion-flush"
                    id="couponList">
                  <td>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                th:attr="data-bs-target='#book-coupon' + ${book.bookId}"
                                aria-expanded="false" aria-controls="flush-collapseOne"
                                th:text="${book.bookTitle}">
                        </button>
                      </h2>
                      <div th:id="book-coupon + ${book.bookId}" class="accordion-collapse collapse"
                           aria-labelledby="flush-headingOne" data-bs-parent="#couponList">
                        <th:block th:each="coupon : ${couponList}"
                                  th:if="${coupon.bookId == book.bookId}">
                          <table class="table text-center align-middle">
                            <tr>
                              <th>#</th>
                              <th>쿠폰이름</th>
                              <th>할인금액(율)</th>
                              <th>최소금액</th>
                              <th>최대할인금액</th>
                            </tr>
                            <tr class="accordion-body"
                                th:each="bookCoupon : ${coupon.memberCouponReadResponseDtos}">
                              <td>
                                <input type="radio" class="form-check-input"
                                       th:value="${bookCoupon.memberCouponId}"
                                       th:name="radio + ${book.bookId}">
                              </td>
                              <td th:text="${bookCoupon.couponName}"></td>
                              <td th:text="${#numbers.formatInteger(bookCoupon.discountPrice, 1, 'COMMA')} + ${bookCoupon.couponTypeName == 'PERCENT' ? '%' : '원'}"></td>
                              <td th:text="${#numbers.formatInteger(bookCoupon.minPrice, 1, 'COMMA')} + 원"></td>
                              <td th:text="${bookCoupon.maxDiscountPrice == null ? '-' : #numbers.formatInteger(bookCoupon.maxDiscountPrice, 1, 'COMMA') + '원'}"></td>
                            </tr>
                          </table>
                          <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-success me-2"
                                    th:onclick="|initCoupon(${book.bookId}, ${stat.index})|">
                              취소하기
                            </button>
                            <button type="button" class="btn btn-success"
                                    th:onclick="|applyCoupon(${book.bookId}, ${stat.index})|">
                              적용하기
                            </button>
                          </div>
                        </th:block>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="p-3 border rounded-3 mb-4">
              <h4 class="fw-normal">포인트 사용</h4>

              <div class="row g-3 align-items-center">
                <div class="col-auto">
                  <label for="using_point" class="col-form-label">포인트</label>
                </div>
                <div class="col-auto">
                  <input id="using_point" name="usingPoint" type="text" class="form-control"
                         pattern="[0-9]+"
                         style="text-align: right"
                         onchange="calcPayAmount()">
                </div>
              </div>
            </div>
          </th:block>
          <th:block sec:authorize="isAnonymous()">
            <div class="p-3 border rounded-3 mb-4">
              <h4 class="fw-normal">쿠폰</h4>
              <p>비회원은 쿠폰 적용이 제한됩니다.</p>
            </div>
            <div class="p-3 border rounded-3 mb-4">
              <h4 class="fw-normal">포인트 할인</h4>
              <p>비회원은 쿠폰 적용이 제한됩니다.</p>
            </div>
          </th:block>
          <div class="p-3 border rounded-3 mb-4">
            <h4 class="fw-normal">포장 선택</h4>
            <div class="row g-3 align-items-center">
              <table class="table table-borderless align-middle">
                <tr th:each="book, stat : ${orderBooks}" th:if="${book.isPackagable}">
                  <td style="width: 60%" th:text="${book.bookTitle}"></td>
                  <td style="width: 20%">
                    <select class="form-select" th:name="|bookOrderList[${stat.index}].wrappingId|"
                            th:id="|bookOrderList[${stat.index}].wrappingId|"
                            onchange="calcPayAmount()">
                      <option value="">포장지 선택</option>
                      <option th:each="wrapping : ${wrappingList}" th:value="${wrapping.wrappingId}"
                              th:if="${wrapping.isActive}"
                              th:text="${wrapping.wrappingName}"></option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4">
          <div class="position-sticky position-webkit-sticky" style="top: 11em">
            <div class="p-3 border rounded-3 mb-2">
              <h4 class="fw-normal">결제정보</h4>
              <table class="table table-borderless" id="pay_table">
                <tr>
                  <th>상품 금액</th>
                  <td><span id="total_regular_price"></span>원</td>
                </tr>
                <tr>
                  <th scope="col">배송비
                    <i class="fa-regular fa-circle-question jb-title" style="color: #3d966a;">
                    </i>
                    <p class="jb-text"><span
                        th:text="${#numbers.formatInteger(deliveryPolicy.freeDeliveryPrice, 1, 'COMMA')}"></span>원
                      이상 주문시 무료 배송</p>
                  </th>
                  <td><span id="delivery_price">0</span>원</td>
                </tr>
                <tr>
                  <th scope="col">포장비</th>
                  <td><span id="package_price">0</span>원</td>
                </tr>
                <tr>
                  <th scope="col">상품 할인</th>
                  <td><span id="product_discount">0</span>원</td>
                </tr>
                <tr>
                  <th scope="col">쿠폰 할인</th>
                  <td><span id="coupon_discount">0</span>원</td>
                </tr>
                <tr>
                  <th scope="col">사용 포인트</th>
                  <td><span id="use_point">0</span>원</td>
                </tr>
                <tr class="border-top">
                  <th scope="col">결제 금액</th>
                  <td>
                    <span id="pay_amount" class="fw-bold">0</span>원
                  </td>
                </tr>
                <tr>
                  <th scope="col" style="font-weight: normal">예상 적립 포인트</th>
                  <td><span id="accumulate_point">0</span> P</td>
                </tr>
              </table>
              <input class="btn btn-outline-success btn-lg w-100" type="button" onclick="doOrder()"
                     id="payment-button" value="결제">
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>

</html>