<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<th:block layout:fragment="css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

  <style>
    .coding-regular {
      font-family: "Nanum Gothic Coding", monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 35px;
    }
  </style>
</th:block>

<div layout:fragment="content" class="container">
  <div class="text-center align-middle">
    <p class="my-5 mb-3"><span class="material-symbols-rounded" style="font-size: 200px; color: #cfd9df">
    check_circle
    </span></p>
    <p><span class="coding-regular">결제가 완료되었습니다</span></p>
    <p class="coding-regular">주문 번호 : fec3b56066b64111bc2b9c83fd27bc00</p>
  </div>
</div>
<script src="/js/toss_pay_success.js"></script>
</html>
