<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<!-- 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    table, tr {
      line-height: 5em;
    }
    tr th td {
      padding: 5em;
    }
  </style>
</th:block>
<!-- 고유 SCRIPT 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    let payInfo = [[${payInfo}]];
    let memberId = [[${memberId}]];
    let clientKey = [[${clientKey}]];
  </script>
  <script src="/js/pay.js"></script>
</th:block>

<!-- 주문서 영역 -->
<div layout:fragment="content">
  <div class="container">
    <h3 class="fw-normal mb-4 ms-2">결제</h3>
    <div class="border rounded-3 mb-5 align-middle d-flex justify-content-center">
      <table class="table table-borderless my-4 mb-4 w-75  text-center">
        <tr>
          <th class="w-25">주문 번호</th>
          <td th:text="${payInfo.orderId}"></td>
        </tr>
        <tr>
          <th>주문 이름</th>
          <td th:text="${payInfo.orderName}"></td>
        </tr>
        <tr>
          <th>결제 금액</th>
          <td th:text="${#numbers.formatInteger(payInfo.amount, 1, 'COMMA')} + '원'"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="container">
    <div class="wrapper border rounded-3">
      <div
          class="box_section"
          style="
          padding: 40px 30px 50px 30px;
          margin-top: 30px;
          margin-bottom: 50px;
        ">
        <!-- 결제 UI -->
        <div id="payment-method"></div>
        <!-- 이용약관 UI -->
        <div id="agreement"></div>
        <!-- 결제하기 버튼 -->
        <div class="result wrapper d-flex justify-content-center">
          <button class="button btn btn-outline-success w-50" id="payment-button"
                  style="margin-top: 30px">
            결제하기
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
