<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypage_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/mypage.css">
</th:block>
<th:block layout:fragment="script">
</th:block>


<div layout:fragment="content" class="container">


    <div class="section_pwconfirm">
        <div class="spc_content">
                <fieldset>
                    <legend>비밀번호 변경</legend>
                    <p class="spc_row">
                        <label id="lb_now_pw" for="now_pw">현재 비밀번호</label>
                        <input type="password" name="now_pw" id="now_pw" maxlength="20" style="width:260px"
                               title="현재 비밀번호 입력">
                    </p>
                    <p class="spc_row2">
                        <label id="lb_new_pw" for="new_pw">새 비밀번호</label>
                        <input type="password" id="new_pw" name="new_pw" maxlength="20" style="width:260px"
                               title="새 비밀번호 입력">
                    </p>
                    <p class="spc_row3">
                        <label id="lb_conf_pw" for="conf_pw">새 비밀번호 확인</label>
                        <input type="password" id="conf_pw" maxlength="20" style="width:260px" title="새 비밀번호 확인 입력">
                    </p>
                    <p class="btn_area_btm">
                        <button type="button" id="updateSubmit" style="width:260px" onclick="updatePassword()">확인</button>
                    </p>
                </fieldset>
        </div>
    </div>
    <script src="/js/memberPassword.js"></script>
</div>

</html>
