<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}" lang="ko">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
  <div class="container-fluid py-5 mt-5">
    <div class="container py-5">
      <div class="row g-4 mb-5">
        <div class="row g-4">
          <div class="col-lg-6">
            <div class="border rounded" style="min-height: 500px">
              <img src="img/single-item.jpg" class="img-fluid rounded" alt="Image">
            </div>
          </div>
          <div class="col-lg-6" style="padding-left: 70px">
            <h5 class="mb-4"><a href="#" th:text="${book.publisherName}" class="hide-href"></a>
            </h5>
            <h3 class="fw-bold mb-3" th:text="${book.bookTitle}"></h3>
            <h5 class="mb-4"><a href="#" th:text="${book.authorName}+' 저'" class="hide-href"></a>
            </h5>
            <h5 class="fw-bold mb-4" th:text="'정가 ' + ${book.regularPrice} + '원'"></h5>
            <h5 class="fw-bold mb-3" th:text="'판매가 ' + ${book.price} + '원'"></h5>
            <div class="d-flex mb-4">
            </div>
            <div class="input-group quantity mb-5" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                  <i class="fa fa-minus"></i>
                </button>
              </div>
              <input type="text" class="form-control form-control-sm text-center border-0"
                     value="1">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
            <a href="/cart"
               class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                class="fa fa-shopping-bag me-2 text-primary"></i> 장바구니에 담기</a>
            <a href="#"
               class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary"><i
                class="fa fa-shopping-bag me-2 text-primary"></i> 상품 바로 구매하기</a>
          </div>
          <div class="col-lg-12">
            <div class="nav nav-tabs mb-5"></div>
            <div class="mb-5">
              <h5 class="fw-bold mb-4">기본 정보</h5>
              <p>
                <span class="fw-bold set-inline">ISBN</span>
                <span th:text="${book.isbn}"></span>
              </p>
              <p>
                <span class="fw-bold set-inline">발행일자</span>
                <span th:text="${book.publicatedAt}"></span>
              </p>
            </div>
            <div class="nav nav-tabs mb-4"></div>
            <div class="tab-content mb-5">
              <h4 class="fw-bold mb-3">목차</h4>`
              <p class="mb-4" th:text="${book.bookIndex}"></p>
            </div>
            <div class="nav nav-tabs mb-4"></div>
            <div class="tab-content mb-5">
              <h4 class="fw-bold mb-3">도서 설명</h4>
              <div class="mb-3" th:each="content : ${book.contents}">
                <img th:if="${content.startsWith('![image alt attribute]')}"
                     th:src="${content.substring(content.indexOf('(') + 1, content.lastIndexOf(')'))}"
                     alt="이미지를 준비중입니다."/>
                <p th:unless="${content.startsWith('![image alt attribute]')}"
                   th:text="${content}"></p>
              </div>
            </div>
          </div>
          <form action="#" method="post">
            <h4 class="mb-5">리뷰</h4>
            <div class="row g-4 p-4 card">
              <div class="col-lg-12">
                <div class="d-flex justify-content-between py-3">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center" style="font-size: 20px;">
                      <i class="fa fa-star text-muted" data-rating="1"></i>
                      <i class="fa fa-star text-muted" data-rating="2"></i>
                      <i class="fa fa-star text-muted" data-rating="3"></i>
                      <i class="fa fa-star text-muted" data-rating="4"></i>
                      <i class="fa fa-star text-muted" data-rating="5"></i>
                    </div>
                  </div>
                  <button type="submit"
                          class="btn border border-secondary text-primary rounded-pill px-4 py-3">
                    리뷰 남기기
                  </button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input type="text" class="form-control border-0 me-4" placeholder="리뷰 제목">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="border-bottom rounded my-4">
                    <textarea name="" id="" class="form-control border-0" cols="30" rows="8"
                              placeholder="리뷰 내용" spellcheck="false"></textarea>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/quantity-count.js"></script>
  <script>
    document.querySelectorAll('.fa-star').forEach(function (star) {
      console.log('star: ' + star);
      star.addEventListener('click', function () {
        var rating = parseInt(this.getAttribute('data-rating'));
        document.querySelectorAll('.fa-star').forEach(function (star, index) {
          if (index < rating) {
            star.classList.remove('text-muted');
          } else {
            star.classList.add('text-muted');
          }
        });
      });
    });
  </script>
</div>