<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/member_order_detail.css">
  <link rel="stylesheet" href="/css/review.css">
</th:block>
<th:block layout:fragment="script">
  <script src="/js/review.js"></script>
  <script th:inline="javascript">
    const order = [[${order}]];
  </script>
  <script src="/js/pay.js"></script>
</th:block>

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
    <div class="container">
      <th:block th:if="${order.orderDetailInfoList[0].orderStatus == 'WAITING' && order.payInfo != null}">
        <button type="button" class="float-end btn btn-outline-dark" data-bs-toggle="modal"
                data-bs-target="#createPointPolicyType">
          결제 취소
        </button>
        <div class="modal fade" id="createPointPolicyType" data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="createPointPolicyTypeLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="createPointPolicyTypeLabel">결제 취소</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <form method="post" th:action="@{/pays/{paymentKey}(paymentKey=${order.payInfo.paymentKey}, order-code=${order.orderInfo.orderCode}, provider=${order.payInfo.provider})}" id="cancel_form">
                <input type="hidden" name="_method" value="put"/>
                <div class="modal-body">
                  <div class="mb-3 col-xs-3">
                    <label for="cancelReason" class="form-label">취소 사유<span
                        class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="cancelReason" name="cancelReason">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                  <button type="button" class="btn btn-dark" onclick="payCancel()">결제 취소</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </th:block>
      <h4 class="fst-normal ms-3 me-4">주문 정보</h4>
      <table class="table table-bordered order-table">
        <colgroup>
          <col style="width: 14%">
          <col style="width: 36%">
          <col style="width: 14%">
          <col style="width: 36%">
        </colgroup>
        <tr>
          <th>배송 예정일</th>
          <td colspan="3" style="text-align: left"
              th:text="${#temporals.format(order.orderInfo.deliveryDate, 'yyyy년 MM월 dd일')}"></td>
        </tr>
        <tr>
          <th>주문 번호</th>
          <td th:text="${order.orderInfo.orderCode}"></td>
          <th>주문일</th>
          <td th:text="${#temporals.format(order.orderInfo.orderAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
        </tr>
        <tr>
          <th>수취인 이름</th>
          <td th:text="${order.orderInfo.receiverName}"></td>
          <th>수취인 전화번호</th>
          <td th:text="${#strings.substring(order.orderInfo.receiverPhoneNumber, 0, 3) + '-' + #strings.substring(order.orderInfo.receiverPhoneNumber, 3, 7) + '-' + #strings.substring(order.orderInfo.receiverPhoneNumber, 7)}"></td>
        </tr>
        <tr>
          <th>발송인 이름</th>
          <td th:text="${order.orderInfo.senderName}"></td>
          <th>발송인 전화번호</th>
          <td th:text="${#strings.substring(order.orderInfo.senderPhoneNumber, 0, 3) + '-' + #strings.substring(order.orderInfo.senderPhoneNumber, 3, 7) + '-' + #strings.substring(order.orderInfo.senderPhoneNumber, 7)}"></td>
        </tr>
        <tr>
          <th>발송인 이메일</th>
          <td colspan="3" th:text="${order.orderInfo.senderEmail}"></td>
        </tr>
        <tr>
          <th>우편 번호</th>
          <td colspan="3" th:text="${order.orderInfo.zipCode}"></td>
        </tr>
        <tr>
          <th>주소</th>
          <td colspan="3" th:text="${order.orderInfo.address}"></td>
        </tr>
        <tr>
          <th>상세 주소</th>
          <td colspan="3" th:text="${order.orderInfo.detailAddress}"></td>
        </tr>
        <tr>
          <th>배송비</th>
          <td th:text="${#numbers.formatInteger(order.orderInfo.deliveryPrice, 1, 'COMMA')} + ' 원'"></td>
          <th>사용 포인트</th>
          <td th:text="${#numbers.formatInteger(order.orderInfo.usePoint, 1, 'COMMA')} + ' P'"></td>
        </tr>
        <tr>
          <th>결제 금액</th>
          <td th:text="${#numbers.formatInteger(order.orderInfo.payAmount, 1, 'COMMA')} + ' 원'"></td>
          <th>출고일</th>
          <td th:text="${order.orderInfo.shipDate != null ? #temporals.format(order.orderInfo.shipDate, 'yyyy년 MM월 dd일') : '-'}"></td>
        </tr>
      </table>

      <h4 class="fst-normal ms-3 me-4 my-5 mb-3">주문 상세 정보</h4>
      <table class="table table-bordered align-middle order-detail-table">
        <colgroup>
          <col>
          <col style="width: 20%">
          <col style="width: 10%">
          <col style="width: 16%">
          <col style="width: 16%">
          <col style="width: 16%">
          <col style="width: 14%">
          <col style="width: 16%">
        </colgroup>
        <tr>
          <th>#</th>
          <th>도서 이름</th>
          <th>수량</th>
          <th>도서 금액</th>
          <th>쿠폰 할인</th>
          <th>포장지</th>
          <th>주문 상태</th>
          <th>리뷰 작성</th>
        </tr>
        <tr th:each="orderDetail, stat : ${order.orderDetailInfoList}">
          <td><img th:src="${orderDetail.thumbnailUrl}" alt="no image"></td>
          <td class="book-title" th:text="${orderDetail.bookTitle}">
            <input type="hidden" name="bookId">
          </td>
          <td th:text="${orderDetail.amount} + ' 개'"></td>
          <td th:text="${#numbers.formatInteger(orderDetail.bookPrice * orderDetail.amount + orderDetail.wrappingPrice, 1, 'COMMA')} + ' 원'"></td>
          <td th:text="${#numbers.formatInteger(couponDiscountList[stat.index], 1, 'COMMA')} + ' 원'"></td>
          <td th:text="${orderDetail.wrappingName eq null ? '-' : orderDetail.wrappingName}"></td>
          <td th:text="${orderDetail.orderStatus}"></td>
          <td>
            <button type="button" class="btn btn-light" data-bs-toggle="modal"
                    th:if="${orderDetail.orderStatus.equals('DONE')}"
                    onclick="updateStarOnCreate(this);"
                    th:attr="data-book-id=${orderDetail.bookId}, data-order-detail=${orderDetail.orderDetailId}"
                    th:data-bs-target="'#addModal'+${stat.index}">리뷰 작성하기
            </button>
            <!--      리뷰 작성 모달-->
            <div class="modal fade modal-lg" th:id="'addModal' + ${stat.index}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">리뷰 작성하기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <form action="/mypage/reviews" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                      <div class="row g-4 p-4">
                        <div class="col-lg-12">
                          <div class="d-flex justify-content-between py-3">
                            <div class="d-flex align-items-center">
                              <div class="d-flex align-items-center fs-4">
                                <input type="hidden" name="score" th:id="'score'+${orderDetail.bookId}">
                                <ul class="list-inline rating-list">
                                  <li><i class="fa fa-star update-star"></i></li>
                                  <li><i class="fa fa-star update-star"></i></li>
                                  <li><i class="fa fa-star update-star"></i></li>
                                  <li><i class="fa fa-star update-star"></i></li>
                                  <li><i class="fa fa-star update-star"></i></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="border-bottom rounded">
                            <input type="hidden" name="bookId" th:value="${orderDetail.bookId}">
                            <input type="hidden" name="orderDetailId" th:value="${orderDetail.orderDetailId}">
                            <input type="text" name="reviewTitle"
                                   class="form-control border-0 me-4" placeholder="리뷰 제목">
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="border-bottom rounded my-4">
                    <textarea class="form-control border-0" cols="30" rows="8" name="reviewContent"
                              placeholder="리뷰 내용" spellcheck="false"></textarea>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <span>이미지 추가</span>
                          <input name="image" type="file" accept=".jpg, .png, .jpeg" multiple>
                        </div>
                        <button type="submit" class="btn btn-primary">
                          리뷰 남기기
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>


      <h4 class="fst-normal ms-3 me-4 my-5 mb-3">결제 정보</h4>
      <th:block th:if="${order.payInfo} != null">
        <table class="table table-bordered align-middle order-detail-table">
          <tr>
            <td>결제회사</td>
            <td th:text="${order.payInfo.provider}"></td>
          </tr>
          <tr>
            <td>결제 수단</td>
            <td th:text="${order.payInfo.method}"></td>
          </tr>
          <tr>
            <td>결제 상태</td>
            <td th:text="${order.payInfo.status}"></td>
          </tr>
          <tr>
            <td>결제 시간</td>
            <td th:text="${#temporals.format(order.payInfo.requestedAt, 'yyyy년 MM월 dd일 HH시 mm분 ss초')}"></td>
          </tr>
          <tr>
            <td>환불 가능 금액</td>
            <td th:text="${order.payInfo.balanceAmount}"></td>
          </tr>
          <tr>
            <td>개별 환불</td>
            <td th:text="${order.payInfo.isPartialCancelable ? 'O' : 'X'}"></td>
          </tr>
        </table>
      </th:block>
      <th:block th:unless="${order.payInfo} != null">
        <div>
          <p>결제가 정상적으로 이루어지지 않았습니다.</p>
        </div>
      </th:block>
    </div>
  </main>
</div>
</html>