<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}" lang="ko">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content" class="container">
  <!--  임시 모달-->
  <div class="modal fade modal-lg" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">리뷰 작성하기</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form action="/mypage/review" method="post" enctype="multipart/form-data">
          <div class="modal-body">
            <div class="row g-4 p-4 card">
              <div class="col-lg-12">
                <div class="d-flex justify-content-between py-3">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <i class="fa fa-star text-muted" data-rating="1"></i>
                      <i class="fa fa-star text-muted" data-rating="2"></i>
                      <i class="fa fa-star text-muted" data-rating="3"></i>
                      <i class="fa fa-star text-muted" data-rating="4"></i>
                      <i class="fa fa-star text-muted" data-rating="5"></i>
                    </div>
                  </div>
                  <button type="submit"
                          class="btn border border-secondary text-primary rounded-pill px-4 py-3">
                    리뷰 남기기
                  </button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="border-bottom rounded">
                  <input type="text" class="form-control border-0 me-4" placeholder="리뷰 제목">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="border-bottom rounded my-4">
                    <textarea class="form-control border-0" cols="30" rows="8"
                              placeholder="리뷰 내용" spellcheck="false"></textarea>
                </div>
              </div>
              <div class="col-lg-6">
                <label for="image" class="label-input100">이미지 추가</label>
                <input id="image" name="image" type="file" accept=".jpg, .png, .jpeg" multiple>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-light" data-bs-toggle="modal"
          data-bs-target="#addModal">리뷰 작성하기
  </button>

  <div class="col-lg-auto" th:each="review: ${reviews.content}">
    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <i class="fa fa-star-o text-muted review-star" data-rating="1"></i>
        <i class="fa fa-star-o text-muted review-star" data-rating="2"></i>
        <i class="fa fa-star-o text-muted review-star" data-rating="3"></i>
        <i class="fa fa-star-o text-muted review-star" data-rating="4"></i>
        <i class="fa fa-star-o text-muted review-star" data-rating="5"></i>
        <span>(</span><span th:text="${review.score}" id="star"></span><span>)</span>
      </div>
    </div>
    <div class="border-bottom rounded">
      <div class="form-control border-0 me-4" th:text="${review.reviewTitle}">
      </div>
    </div>
    <div class="col-lg-12">
      <div class="border-bottom rounded my-4">
        <div class="form-control border-0" th:text="${review.reviewContent}"></div>
      </div>
    </div>
    <!--    <div class="d-flex" style="width: 100%;" th:if="!${review.fileUrls.isEmpty()}">-->
    <!--      <span th:text="${review.fileUrls.isEmpty()}"></span>-->
    <!--      <span th:text="${review.fileUrls.size()}"></span>-->
    <!--      <span th:text="${review.fileUrls}"></span>-->
    <!--      <img th:src="${img}" alt="no image" th:each="img: ${review.fileUrls}" th:if="!${img.isBlank()}"-->
    <!--           class="mx-lg-2" style="height: 120px;">-->
    <!--    </div>-->
    <hr>
  </div>


</div>