<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/signup.css">
</th:block>
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content" class="container">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <a class="navbar-brand h1 text-center" href="">
                <span class="text-dark h4">회원가입</span>
            </a>
        </div>
        <form action="/signup" method="post" id="signupForm">
            <div class="form-group">
                <label for="email" class="form-label mt-4">이메일</label>
                <div class="input-group">
                    <input type="email" class="form-control" id="email" name="email">
                    <button class="btn btn-outline-secondary" id="checkDuplicate" type="button">중복 확인</button>
                </div>
            </div>
            <div class="form-group position-relative">
                <label class="form-label mt-4" for="inputValid">비밀번호</label>
                <input type="password" class="form-control" id="inputValid" name="password">
                <div class="invalid-tooltip">비밀번호는 대소문자, 숫자, 특수문자를 포함하여 8~20글자 사이여야 합니다.</div>
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="inputInvalid">비밀번호 재확인</label>
                <input type="password" class="form-control" id="inputInvalid">
                <div class="invalid-feedback">비밀번호가 일치하지 않습니다</div>
            </div>
            <div class="form-group">
                <label for="memberName" class="form-label mt-4">이름</label>
                <input type="text" class="form-control" id="memberName" name="memberName">
            </div>
            <div class="bir_wrap">
                <label class="form-label mt-4">생년월일</label>
                <div class="bir_yy">
                    <input type="date" class="form-control" id="birthday" placeholder="예: 19990704" maxlength="8" name="birthday">
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="form-label mt-4">전화번호</label>
                <input type="tel" pattern="[0-9]{11}" class="form-control" id="phoneNumber" placeholder="예: 01012345678"
                       maxlength="11" name="phoneNumber">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-dark btn-lg mt-4" type="button" id="submitButton">가입하기</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>
</html>
