<html lang="en">
<div id="layoutSidenav_nav" th:fragment="sidebarFragment">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <a href="/">홈으로 가기</a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          수익 통계
        </a>
        <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#collapseLayouts" data-bs-toggle="collapse"
           href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          회원
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
             id="collapseLayouts">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/users">회원 관리</a>
            <a class="nav-link" href="/admin/grades">회원 등급</a>
            <a class="nav-link" href="/admin/orders">회원 주문 관리</a>
          </nav>
        </div>
        <a aria-controls="collapsePages" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#collapsePages" data-bs-toggle="collapse" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
          도서
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingTwo" class="collapse" data-bs-parent="#sidenavAccordion"
             id="collapsePages">
          <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
            <a aria-controls="pagesCollapseAuth" aria-expanded="false" class="nav-link collapsed"
               data-bs-target="#pagesCollapseAuth" data-bs-toggle="collapse"
               href="#">
              도서 관리
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordionPages"
                 id="pagesCollapseAuth">
              <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="/admin/books">도서 목록</a>
                <a class="nav-link" href="/admin/book/create">도서 등록</a>
              </nav>
            </div>
            <a class="nav-link collapsed" href="/admin/wrappings">
              포장지 관리
            </a>
          </nav>
        </div>
        <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#tagLayouts" data-bs-toggle="collapse" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          태그 및 카테고리
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
             id="tagLayouts">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/tags">태그 관리</a>
            <a class="nav-link" href="/admin/categories">카테고리 관리</a>
          </nav>
        </div>
        <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#authorLayouts" data-bs-toggle="collapse" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          작가 및 출판사
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
             id="authorLayouts">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/authors">작가 관리</a>
            <a class="nav-link" href="/admin/publishers">출판사 관리</a>
          </nav>
        </div>
        <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#policyLayouts" data-bs-toggle="collapse" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          정책 관리
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
             id="policyLayouts">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/point-policy">포인트 정책</a>
            <a class="nav-link" href="/admin/delivery-policy">배송비 정책</a>
            <a class="nav-link" href="/admin/accumulation-policy">적립률 정책</a>
          </nav>
        </div>
        <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
           data-bs-target="#couponLayouts" data-bs-toggle="collapse" href="#">
          <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
          쿠폰
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div aria-labelledby="headingOne" class="collapse" data-bs-parent="#sidenavAccordion"
             id="couponLayouts">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/admin/coupons">쿠폰 목록</a>
            <a class="nav-link" href="/admin/coupons/register">일반 쿠폰 등록</a>
            <a class="nav-link" href="/admin/coupons/category/register">카테고리 쿠폰 등록</a>
            <a class="nav-link" href="/admin/coupons/book/register">책 쿠폰 등록</a>
          </nav>
        </div>
      </div>
    </div>
  </nav>
</div>
</html>
