<div th:fragment="footerFragment" class="footer">
  <link rel="stylesheet" href="/css/footer.css"/>
  <div class="line"></div>
  <div class="footer-main">
    <section class="footer-main-left">
      <span>Ink Bridge</span>
    </section>
    <section class="footer-main-right">
      <div>
        <h1>RESOURCES</h1>
        <div>
          <div>
            <a href="https://github.com/nhnacademy-be4-InkBridge"><h3>Team GitHub</h3></a>
          </div>
          <div>
            <a href="https://www.erdcloud.com/d/jBnFCopoRMbc2tJ7z"><h3>ER-Diagram</h3></a>
          </div>
          <div>
            <a href="/api"><h3>API</h3></a>
          </div>
        </div>
      </div>
      <div>
        <h1>ABOUT US</h1>
        <div>
          <div>
            <a href="https://github.com/minseo9974"><h3>Lee minseo</h3></a>
          </div>
          <div>
            <a href="https://github.com/JBumLee"><h3>Lee Jungbum</h3></a>
          </div>
          <div>
            <a href="https://github.com/minm063"><h3>jang minju</h3></a>
          </div>
          <div>
            <a href="https://github.com/Huni0819"><h3>jang jaehun</h3></a>
          </div>
          <div>
            <a href="https://github.com/brihgtclo"><h3>jung byeonghun</h3></a>
          </div>
          <div>
            <a href="https://github.com/nuheajiohc"><h3>choi jaehun</h3></a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="footer-bottom">
    <i class="fa-regular fa-copyright"></i>
    <span>2024 inkBridge. All rights reserved.</span>
  </div>
</div>