<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="headerFragment" class="container">
  <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="/auth-login" method="post">
          <div class="modal-header">
            <h5 class="modal-title">InkBridge</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="Email" class="form-label">이메일<span class="text-danger">*</span></label>
              <input type="text" name="email" class="form-control" id="Email" placeholder="이메일" required>
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">비밀번호<span class="text-danger">*</span></label>
              <input type="password" name="password" class="form-control" id="Password" placeholder="비밀번호" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark btn-lg mt-4 w-100">로그인</button>
          </div>
          <p class="text-center mb-1">아이디가 없으시다면,
            <a href="#" class="text-decoration-none" style="color: black;">비밀번호 찾기</a>
          </p>
          <p class="text-center mb-3">
            <a href="/signup" class="text-decoration-none" style="color: black;">회원 가입</a>
          </p>
        </form>
      </div>
    </div>
  </div>

  <header>
  <div class="header-top">
    <div class="header-contact">
      <div class="header-contact-link">
        <a href="https://github.com/nhnacademy-be4-InkBridge" class="a-tag">
          <i class="bi bi-github"></i>
        </a>
      </div>
      <div class="header-contact-link">
          뭐넣지?
      </div>
      <div class="header-contact-link">
        히히 뭘넣징
      </div>
    </div>
    <div class="header-login">
        <div  sec:authorize="hasRole('ADMIN')">
          관리자
        </div>
        <div  sec:authorize="hasAnyRole('MEMBER','SOCIAL')">
          회원
        </div>
        <div class="header-login-item" sec:authorize="isAnonymous()">
          <a class="header-login-link a-tag" href="/login" data-bs-toggle="modal" data-bs-target="#ModalForm">로그인</a>
        </div>
        <div class="header-login-item" sec:authorize="isAuthenticated()">
        <a class="header-login-link a-tag" href="/logout">로그아웃</a>
        </div>
        <div class="header-login-item" sec:authorize="isAnonymous()">
          <a class="header-login-link a-tag" href="/signup">회원가입</a>
        </div>
    </div>
  </div>
  <div class="header-main">
      <div class="header-main-container">
        <div class="header-logo gugi-regular">
          inkBridge
        </div>
        <div class="header-search-container">
          <input type="search" name="search" class="search"/>
          <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
        <div class="header-user-actions">
          <div class="action-btn" sec:authorize="hasRole('ADMIN')">
            <a href="/admin" class="a-tag">
              <i class="fa-regular fa-user"></i>
            </a>
          </div>
          <div class="action-btn" sec:authorize="hasRole('MEMBER')">
            <a href="/mypage" class="a-tag">
              <i class="fa-regular fa-user"></i>
            </a>
          </div>
          <div class="action-btn"  sec:authorize="isAnonymous()">
            <a href="/login" class="a-tag" data-bs-toggle="modal" data-bs-target="#ModalForm">
              <i class="fa-regular fa-user"></i>
            </a>
          </div>
          <div class="action-btn">
            <a href="" class="a-tag">
              <i class="fa-regular fa-heart"></i>
              <span class="count">0</span>
            </a>
          </div>
          <div class="action-btn">
            <a href="" class="a-tag">
              <i class="bi bi-cart"></i>
              <span class="count">0</span>
            </a>
          </div>
        </div>
      </div>
  </div>
  <nav class="header-menu">
      <ul class="header-menu-list">
        <li class="menu-category">
          <a href="/" class="a-tag menu-title">홈</a>
        </li>
        <li class="menu-category">
          <a href="" class="a-tag menu-title">카테고리</a>
          <div class="item-dropdown">
            <ul class="item-list" th:each="parentCategory:${parentCategories}">
                <li class="menu-title parent">
                  <a class="a-tag list-item" th:href="@{/api/books/${parentCategory.getCategoryId()}}" th:text="${parentCategory.getCategoryName()}">
                  </a>
                </li>
              <li class="list-item child"  th:each="childCategory:${parentCategory.getParentCategories()}">
                <a class="a-tag list-item" th:href="@{/api/books/${childCategory.getCategoryId}}" th:text="${childCategory.getCategoryName()}"></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-category">
          <a class="a-tag menu-title" href="">인기도서</a>
        </li>
        <li class="menu-category">
          <a class="a-tag menu-title" href="">신상도서</a>
        </li>
        <li class="menu-category">
          <a class="a-tag menu-title" href="">이벤트/쿠폰</a>
        </li>
      </ul>
  </nav>
  </header>

</div>
</html>
