<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="headerFragment" class="container">
  <header class="py-3 my-4 border-bottom">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ink Bridge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <!-- 관리자 권한이 있는 경우에만 Admin 링크 표시 -->
            <li class="nav-item" sec:authorize="hasRole('ADMIN')">
              <a class="nav-link" href="/admin">관리자</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('MEMBER')">
              <a class="nav-link" href="/mypage">마이페이지</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <a class="nav-link" href="/logout">로그아웃</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" href="/login" data-bs-toggle="modal" data-bs-target="#ModalForm">로그인</a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
              <a class="nav-link" href="/signup">회원가입</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>




  <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="/auth-login" method="post">
          <div class="modal-header">
            <h5 class="modal-title">InkBridge</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="Email" class="form-label">이메일<span class="text-danger">*</span></label>
              <input type="text" name="email" class="form-control" id="Email" placeholder="이메일" required>
            </div>

            <div class="mb-3">
              <label for="Password" class="form-label">비밀번호<span class="text-danger">*</span></label>
              <input type="password" name="password" class="form-control" id="Password" placeholder="비밀번호" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark btn-lg mt-4 w-100">로그인</button>
          </div>
          <div class="modal-body">
            <button type="button" id="payco" class="btn btn-outline-danger btn-lg w-100">Payco로 로그인하기</button>
          </div>
          <p class="text-center mb-1">아이디가 없으시다면,
            <a href="#" class="text-decoration-none" style="color: black;">비밀번호 찾기</a>
          </p>
          <p class="text-center mb-3">
            <a href="/signup" class="text-decoration-none" style="color: black;">회원 가입</a>
          </p>
        </form>
      </div>
    </div>
  </div>
<script>
  document.getElementById("payco").addEventListener("click", function() {
    // Payco 로그인 페이지의 URL
    var paycoLoginUrl = "http://test.com:8050/oauth2/authorization/payco";
    window.location.href = paycoLoginUrl;
  });

</script>

</div>
</html>
