<html lang="en">
<div id="layoutSidenav_nav" th:fragment="sidebarFragment">
  <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">

        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          개인 정보 조회 및 수정
        </a>        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          배송지
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          쿠폰 조회
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          주문 조회
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          포인트 내역
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          위시리스트
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          마이 리뷰
        </a>
        <a class="nav-link" href="/admin">
          <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
          회원 탈퇴
        </a>
      </div>
    </div>
  </nav>
</div>
</html>
