<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .img-error {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="justify-content-center">
        <div class="col-lg-6">
            <div>
                <img class="mb-4 img-error" src="https://inkbridge.store/image-load/2024-03-14T07:31:11.229310error-404-monochrome.jpg" alt="no image"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>