.item_order {
    padding: 0 19px;
    height: 52px;
    margin-bottom: -1px;
    border: 1px solid #e0e5ee;
    font-size: 16px;
    background: #fff;
    box-sizing: border-box;
}

.item_order:hover{
    border:3px solid #e0e5ee;
}

.hidden{
    display: none;
}

/*.bundle-item:hover .children_category{*/
/*    display: block;*/
/*}*/

.info_btn{
    visibility: hidden;
}

.item_order:hover .info_btn{
    visibility: visible;
}



.category_container {
    margin: 21px 0 30px;
    padding: 8px;
    border-radius: 1px;
    background: #e7edf3;
}

.arrow{
    background: rgba(240, 242, 245, 0.97);
    border: 1px solid #e0e5ee;
    border-right: none;
    cursor:pointer;
}

.img_rotate{
    transform:rotate(90deg);
}