.a-tag{
    text-decoration: none;
    color:hsl(0, 0%, 27%);
}

li{
    list-style: none;
}

.header-login {
    display: flex;
    gap: 20px;
}

.header-login >div:first-child{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size:1.2rem;
}

.header{
    margin:auto;
    position:relative;
}

.header-main-container{
    max-width: 1500px;
    margin:auto;
}

.header-bg-image{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: -1;

    mask-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0)),
    linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0));
}

.header-main {
    margin:auto;
    padding: 30px 0;
}

.header-main-container {
    display: flex;
    gap : 10%;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    position:relative;
}

.gugi-regular {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.header-logo{
    box-shadow: 0px 0px 20px 20px #ffc10747;
    background-color: #ffc10759;
    border-radius: 100%;
}

.logo-img{
    width:200px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

.header-search-container {
    flex-grow:1;
    position: relative;
}

.header-search-container .search {
    width:100%;
    font-size: 1.2rem;
    color: hsl(0, 0%, 27%);
    padding: 15px 50px 15px 20px;
    height:60px;
    border: 1px solid rgb(237, 237, 237);
    box-shadow: rgb(99 99 99 / 40%) 1px 0px 9px 7px;
    border-radius: 30px;
    outline: black;
}

.visible-info{
    position:absolute;
    right:10px;
    top:10px;
}

.search-form{
    position:relative;
}

.search-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    color: hsl(0, 0%, 27%);
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.2s ease;
}

.search-btn:hover {
    color: hsl(138, 50%, 60%);
}

.header-user-actions {
    display: flex;
    align-items: center;
    gap: 35px;
}


.action-btn {
    position: relative;
    font-size: 30px;
    color: hsl(0, 0%, 13%);
}

.action-btn:hover{
    cursor:pointer;
}

.action-btn>div:first-child{
    display: flex;
    flex-direction: column;
}
.action-btn-menu >li {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding:8px 0;
}

.action-btn-menu{
    position:absolute;
    width:120px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    font-size:1rem;
    padding:0;
    margin: 0.5rem 0 0;
    right:-10px;
    text-align:center;
    z-index:999;
}
.menu-hidden{
    display: none;
}

.action-btn-menu>li:hover{
    cursor:pointer;
    font-weight: bold;
}


.count{
    position: absolute;
    right: -3px;
    background: hsl(0, 100%, 70%);
    color: hsl(0, 100%, 100%);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 2px 4px;
    border-radius: 20px;
}

.person{
    font-size:30px;
}

.header-menu{
    display:block;
}

.header-menu-list{
    padding:20px 0 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-menu-list .menu-title a{
    color: hsl(0, 0%, 27%);
    font-size: 0.875rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.header-menu-list .menu-category > .menu-title {
    position: relative;
    color: hsl(0, 0%, 27%);
    font-weight: 600;
    padding: 15px 0;
    transition: 0.2s ease;
}

.header-menu-list .menu-category > .menu-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.2s ease;
}

.header-menu-list .menu-category > .menu-title:hover::after {
    transform: scaleX(1);
}

.item-dropdown{
    position: absolute;
    top: 85%;
    left: 0;
    margin:auto;
    background: hsl(0, 100%, 100%);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 93%);
    box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
    border-radius: 10px;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    z-index:999;
}

.header-menu-list .header-category:hover > .item-dropdown{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.list-item a {
    color: hsl(0, 0%, 47%);
    font-size: 0.875rem;
}

.list-item a:hover {
    color: black;
}

.search-book-select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.search-book-select:hover {
    background-color: #f0f0f0;
}
